{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}KickHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
    <div class="center-rectangle">
        <nav class="navbar">
            <ul class="nav-links">
                <a href="{% url 'index' %}" class="site-name">KickHub</a>
                <li><a href="{% url 'index' %}" class="nav-button">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}" class="nav-button">Profile</a></li>
                <li><a href="{% url 'cart' %}" class="nav-button">Cart</a></li>
                <form action="{% url 'account_logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% provider_login_url 'google' %}">Login</a>
                {% endif %}
            </ul>
        </nav>
        <hr>
    
        {% block content %}{% endblock %}
    </div>
    
</body>
{% block scripts %}
<script src="{% static 'main.js' %}"></script>
{% endblock %}

</html>