{% extends "base.html" %}
{% load static %}


{% block title %}KickHub{% endblock %}

{% block content %}

<h2>Catalog</h2>

<div class="card-container">
    {% for entry in items %}
    <div class="card">
        <img
            src="https://via.placeholder.com/250x150?text=Coming+Soon"
            alt="Placeholder"
            class="card-img">
        
        <form method="post" action="{% url 'add_to_cart' %}" class="add-to-cart-form">
            {% csrf_token %}
            <h3>{{ entry.item.description }}</h3>
            <p><strong>${{ entry.item.price }}</strong></p>

            <input type="hidden" name="item_id" value="{{ entry.item.id }}">

            
            {% if entry.sizes %}
                <label for="size-{{ entry.item.id }}">Size:</label>

                <select name="size_id" id="size-{{ entry.item.id }}">
                    {% for size in entry.sizes %}
                    <option value="{{ size.id }}">
                        {{ size.size }} ({{ size.quantity }} available)
                    </option>
                    {% endfor %}
                </select>
                <button type="submit">Add to Cart</button>
            {% else %}
                <span>No sizes available</span>
            {% endif %}
        </form>
    </div>
    {% empty %}
    <p>No items available.</p>
    {% endfor %}
</div>
{% endblock %}