{% extends "base.html" %}
{% load static %}


{% block title %}Greetings{% endblock %}

{% block content %}

<h2>Items Available</h2>
<ul>
    {% for entry in items %}
    <li>
        <form method="post" action="{% url 'add_to_cart' %}" class="add-to-cart-form">
            {% csrf_token %}
            {{ entry.item.description }} - ${{ entry.item.price }}
            <input type="hidden" name="item_id" value="{{ entry.item.id }}">
            <label for="size-{{ entry.item.id }}">Size:</label>
            {% if entry.sizes %}
            <select name="size_id" id="size-{{ entry.item.id }}">
                {% for size in entry.sizes %}
                <option value="{{ size.id }}">
                    {{ size.size }} ({{ size.quantity }} available)
                </option>
                {% endfor %}
            </select>
            <button type="submit">Add to Cart</button>
            {% else %}
            <span>No sizes available</span>
            {% endif %}
            </select>

        </form>
    </li>
    {% empty %}
    <li>No items available.</li>
    {% endfor %}
</ul>
{% endblock %}