{% extends "base.html" %}
{% load tz %}

{% block title %}Order #{{ order.id }}{% endblock %}

{% block content %}
<h2>Order #{{ order.id }}</h2>
<p>Status: {{ order.status }}</p>
<p>Total Amount: ${{ order.total_amount }}</p>
<p>Shipping Address: {{ shipping_address }}</p>
<p>Order Date: {{ order.order_created_at}}</p>


<h3>Items in this Order:</h3>
<div>
    {% for item in order_items %}
    <div class="card-container">
        <div class="card">
            <strong>{{ item.item.name }}</strong> <br>
            Size: {{ item.size.size }} <br>
            Qty: {{ item.quantity }} <br>
            Price: ${{ item.price }}
        </div>
    </div>

    {% empty %}
    <p>No items in this order.</p>
    {% endfor %}
</div>

<a href="{% url 'profile' %}">
    <button type="button">Back to Profile</button>
</a>
{% endblock %}