{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.first_name }}</p>

<h2>Orders:</h2>

<div class="flexing">
    {% for order in orders %}
    <a class="text-decoration" href="{% url 'order_items' order.id %}">
        <div class="profile-card">
            <h3>Order {{ order.id }}</h3>
            <p>${{order.total_amount}}</p>
        </div>
    </a>
    {% empty %}
    <p>No orders found.</p>
    {% endfor %}
</div>




{% endif %}
{% endblock %}